{% extends "headerPage.html" %}

{% block content %}

    <h2> Check Mileage of your car Instantly</h2>
    <h1> Please enter Details: </h1>
    <br>
    {% if scoreVal %}
    <form method = "post" enctype="multipart/form-data" action="updateDatabase" >
    {% else %}
    <form method = "post" enctype="multipart/form-data" action="predictMPG" >
    {% endif %}
        {% csrf_token %}

        <div class = "col-md-4 col-sm-4"><label for = "fname">Cylinders:</label></div> <input name = "cylinderVal" type="text" value={{temp.cylinders}}><br><br>
        <div class = "col-md-4 col-sm-4"><label for = "lname">Displacement:</label></div> <input name = "dispVal" type="text" id = "lname" value={{temp.displacement}}><br><br>
        <div class = "col-md-4 col-sm-4"><label for = "fname">HorsePower:</label></div> <input name = "hrsPwrVal" type="text" id = "fname" value={{temp.horsepower}}><br><br>
        <div class = "col-md-4 col-sm-4"><label for = "lname">Weight:</label></div> <input name = "weightVal" type="text" id = "lname" value={{temp.weight}}><br><br>
        <div class = "col-md-4 col-sm-4"><label for = "fname">Acceleration:</label></div> <input name = "accVal" type="text" id = "fname" value={{temp.acceleration}}><br><br>
        <div class = "col-md-4 col-sm-4"><label for = "lname">Model:</label></div> <input name = "modelVal" type="text" id = "lname" value={{temp.model_year}}><br><br>
        <div class = "col-md-4 col-sm-4"><label for = "lname">Origin:</label></div> <input name = "originVal" type="text" id = "lname" value={{temp.origin}}><br><br>
        <br>
        {% if scoreVal %}
        <h1>The MPG score is {{scoreVal}}</h1>
        <h3>Do you want to store in DB?</h3>
        <input name = "mpgVal" type="hidden" id = "lname" value={{scoreVal}}><br><br>
        <input type = "submit" value = "Submit">
        {% else %}
        <input type = "submit" value = "Submit">
        {% endif %}


    </form>
<br>


{% endblock %}